          <button id="appearance-switcher-0" type="button" aria-label="appearance switcher" >
            <div
              class="flex  items-center justify-center dark:hidden"
              title="{{ i18n "footer.dark_appearance" }}"
            >
              {{ partial "icon.html" "moon" }}
            </div>
            <div
              class="hidden  items-center justify-center dark:flex"
              title="{{ i18n "footer.light_appearance" }}"
            >
              {{ partial "icon.html" "sun" }}
            </div>
          </button>